/*Section header*/

.section-header {
  background-color: $main-hero-bg-color;
  width: 100%;

  background-image: url('../images/ellipse.png');
  background-repeat: no-repeat;
  background-position: 65%;

  @media screen and (max-width: 767px) {
    background-image: url('../images/ellipse-mobile.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  @media screen and (max-width: 1279px) {
    background-image: url('../images/ellipse-mobile.png');
    background-repeat: no-repeat;
    background-position: 65%;
  }
}

.container.header {
  padding-top: 37px;
  @media screen and (max-width: 479px) {
    background-image: url('../images/icecream-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 160px;
  }
  @media screen and (min-width: 480px) {
    background-image: url('../images/icecream-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 160px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/icecream-tablet.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 63%;
    padding-bottom: 160px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 59px;
  }

  @media screen and (min-width: 1280px) {
    background-image: none;
    padding-bottom: 51px;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    margin-bottom: 137px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 84px;
  }

  &__icon {
    fill: $text-title-color;
  }
}

.menu-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1279px) {
    display: none;
  }

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    align-items: center;

    color: $main-bg-color;
  }

  &__link--current {
    color: $text-title-color;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    align-items: center;
    text-align: center;

    padding: 14px 53px 14px 37px;

    color: $text-title-color;
    background: $main-bg-color;
    border-radius: 22px;
    border: none;

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1279px) {
      padding: 0 43px 0 30px;
      height: 50px;
    }
  }
}

.icecream {
  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
    margin-bottom: 112px;
    padding-left: 81px;
  }

  &__title {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    color: $main-bg-color;

    @media screen and (max-width: 767px) {
      margin-bottom: 19px;
      font-size: 8.13vw; /*26px*/
      line-height: 1.15;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 38px;
      line-height: 1.16;
    }
  }
  &__title-passion {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    color: $text-title-color;

    @media screen and (min-width: 767px) {
      margin-bottom: 19px;
      font-size: 6.23; /*48px*/
      line-height: 0.96;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 58px;
      line-height: 0.89;
    }
  }
}

.icecream-box {
  &__btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    align-items: center;
    text-align: center;

    padding: 5px 10px;

    height: 40px;
    border-radius: 20px;
    border: none;
    height: 40px;
  }
  .product {
    color: $main-bg-color;
    background: $text-title-color;
    margin-right: 15px;

    &:hover,
    &:focus {
      background: $button-second-color;
    }
  }
  .made {
    color: $text-title-color;
    background: $main-bg-color;

    &:hover,
    &:focus {
      background: #ecebeb;
    }
  }
}

.milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;

    color: $main-bg-color;
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 1.5;

      width: 144px;

      margin: 0;
      margin-left: 120px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.43;

      width: 200px;

      margin: 0;
      margin-left: 295px;
    }
  }
}

.main-menu {
  position: relative;
}

.position-image {
  &__icecream {
    @media screen and (max-width: 1279px) {
      display: none;
    }
    position: absolute;
    top: 6%;
    left: 47%;
    width: 230px;
  }

  &__girl {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 77.1%;
      left: 75%;
      width: 168px;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 66.5%;
      left: 70%;
      width: 293px;
    }
  }

  &__sixteen {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 20%;
      left: 90%;
      width: 43px;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 20%;
      left: 90%;
      width: 72px;
    }
  }

  &__twentythree {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 35%;
      left: 88%;
      width: 51px;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 35%;
      left: 88%;
      width: 92px;
    }
  }

  &__milk {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 70%;
      left: 0;
      width: 124px;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 70%;
      left: 5%;
      width: 188px;
    }
  }
}

/* mobile-menu-container */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #e17992;
  z-index: 999;

  /*transform: translateX(100%);
  transition: transform 250ms $timing-function;*/

  overflow-y: scroll;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}

.mobile {
  align-items: flex-end;
  display: none;
}

/* button-open */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: red;
  }
}

/* menu-container__mobile */
.mobile-button {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  align-items: center;
  text-align: center;

  padding: 14px 53px 14px 37px;

  color: $text-title-color;
  background: $main-bg-color;
  border-radius: 22px;
  border: none;
  margin: 60px 34px 19px 34px;
}

.menu-container {
  &__mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav {
  &__link {
    padding: 10px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 4.38vw; /*14px*/
    line-height: 1.29px;
    display: flex;
    align-items: center;

    color: $main-bg-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $text-title-color;
    }
  }

  &__item {
    padding-left: 24px;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: $menu-border;
    border-bottom: $menu-border;
    &:first-child {
      padding-top: 13px;
      padding-bottom: 11px;
    }

    &:last-child {
      margin-bottom: 302px;
    }
  }

  &__link--current {
    color: $text-title-color;
  }
}
