/*Section header*/

.section-header {
  background-color: $main-hero-bg-color;
  width: 100%;

  background-image: url('../images/ellipse.png');
  background-repeat: no-repeat;
  background-position: 65%;

  @media screen and (max-width: 767px) {
    background-image: url('../images/ellipse-mobile.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  @media screen and (max-width: 1279px) {
    background-image: url('../images/ellipse-mobile.png');
    background-repeat: no-repeat;
    background-position: 65%;
  }
}

.container.header {
  padding-top: 37px;
  @media screen and (max-width: 479px) {
    background-image: url('../images/icecream-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 160px;
    padding-top: 6px;
  }
  @media screen and (min-width: 480px) {
    background-image: url('../images/icecream-mobile.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 160px;
    padding-top: 6px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/icecream-tablet.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 63%;
    padding: 37px 34px 59px 34px;
  }

  @media screen and (min-width: 1280px) {
    background-image: none;
    padding-bottom: 51px;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 137px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 84px;
  }

  &__icon {
    fill: $text-title-color;
  }
}

.menu-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1279px) {
    display: none;
  }

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    align-items: center;

    color: $main-bg-color;
  }

  &__link--current {
    color: $text-title-color;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    align-items: center;
    text-align: center;

    padding: 14px 53px 14px 37px;

    color: $text-title-color;
    background: $main-bg-color;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 1s linear;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;

    @-webkit-keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
      50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }

    @keyframes pulsing {
      0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
      50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
      100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1279px) {
      padding: 0 43px 0 30px;
      height: 50px;
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    &::after {
      display: inline-block;
      margin-left: 8px;
      content: '';
      width: 10px;
      height: 10px;
      background-image: url(../images/icon-contacts-bt2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @media screen and (min-width: 768px) {
        margin-left: 13.4px;
      }
      @media screen and (min-width: 1280px) {
        margin-left: 13.62px;
      }
    }
  }
}

.icecream {
  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
    margin-bottom: 112px;
    padding-left: 81px;
  }

  &__title {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    color: $main-bg-color;

    @media screen and (max-width: 767px) {
      margin-bottom: 19px;
      font-size: 8.13vw; /*26px*/
      line-height: 1.15;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 38px;
      line-height: 1.16;
    }
  }
  &__title-passion {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    color: $text-title-color;

    @media screen and (min-width: 767px) {
      margin-bottom: 19px;
      font-size: 6.23; /*48px*/
      line-height: 0.96;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 58px;
      line-height: 0.89;
    }
  }
}

.icecream-box {
  &__btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    align-items: center;
    text-align: center;

    padding: 5px 10px;

    height: 40px;
    border-radius: 20px;
    border: none;
    height: 40px;
    cursor: pointer;
  }
  .product {
    color: $main-bg-color;
    background: $text-title-color;
    margin-right: 15px;

    &:hover,
    &:focus {
      background: $button-second-color;
    }
  }
  .made {
    color: $text-title-color;
    background: $main-bg-color;

    &:hover,
    &:focus {
      background: #ecebeb;
    }
  }
}

.milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;

    color: $main-bg-color;
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 1.5;

      width: 144px;

      margin: 0;
      margin-left: 120px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.43;

      width: 200px;

      margin: 0;
      margin-left: 295px;
    }
  }

  &__button {
    background-color: $main-hero-bg-color;
    border-radius: 50%;
    transition: background-color 1s linear;
    &:hover,
    &:focus {
      border-radius: 50%;
      background: #ecebeb;
    }
    cursor: pointer;
    border: none;
    @media screen and (max-width: 1279px) {
      position: absolute;
      left: 16.5%;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      left: 24%;
    }
  }
}

.main-menu {
  position: relative;
}

.position-image {
  &__icecream {
    @media screen and (max-width: 1279px) {
      display: none;
    }
    position: absolute;
    top: 6%;
    left: 47%;
    width: 230px;
  }

  &__girl {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 77.1%;
      left: 75%;
      width: 168px;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 66.5%;
      left: 70%;
      width: 293px;
    }
  }

  &__sixteen {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 20%;
      left: 90%;
      width: 43px;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 20%;
      left: 90%;
      width: 72px;
    }
  }

  &__twentythree {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 35%;
      left: 88%;
      width: 51px;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 35%;
      left: 88%;
      width: 92px;
    }
  }

  &__milk {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 70%;
      left: 0;
      width: 124px;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 70%;
      left: 5%;
      width: 188px;
    }
  }
}

/* mobile-menu-container */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $menu-bg-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;

  @media (min-width: 1280px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}

.mobile {
  @media (min-width: 768px) {
    margin-left: auto;
  }

  @media (min-width: 1280px) {
    display: none;
  }
}

/* button-open */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 1280px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $text-title-color;
  }
}

/* menu-container__mobile */
.mobile-button {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  align-items: center;
  text-align: center;

  padding: 14px 53px 14px 37px;

  color: $text-title-color;
  background: $main-bg-color;
  border-radius: 22px;
  border: none;
  margin: 60px 34px 19px 34px;
  cursor: pointer;

  &::after {
    display: inline-block;
    margin-left: 8px;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../images/icon-contacts-bt2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    margin-left: 13.4px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 13.62px;
  }
}

.menu-container {
  &__mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav {
  &__link {
    padding: 10px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 4.38vw; /*14px*/
    line-height: 1.29px;
    display: flex;
    align-items: center;

    color: $main-bg-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $text-title-color;
    }
  }

  &__item {
    padding: 13px 0 11px 24px;
    border-top: $menu-border;
    border-bottom: $menu-border;
    @media (min-width: 768px) {
      padding: 16px 0 16px 24px;
    }
  }

  &__link--current {
    color: $text-title-color;
  }
}

/* Модальное окно */
/*
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $main-bg-color;
  opacity: 1;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.modal {
  position: absolute;

  padding: 40px 39px 40px 41px;

  top: 50%;
  left: 50%;

  @media screen and (max-width: 479px) {
    min-height: 609px;
    min-width: 350px;
  }

  @media screen and (min-width: 480px) {
    min-height: 609px;
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 581px;
    min-width: 528px;
  }

  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px $second-bg-color, 0px 1px 1px $box-shadow-contacts,
    0px 2px 1px $box-shadow-contacts;
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
  }
}

.button-close {
  position: relative;
  display: inline-block;

  width: 30px;
  height: 30px;

  background: $main-text-color;
  border: 1px solid $second-bg-color;
  border-radius: 50% 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  &:hover {
    fill: $second-hero-bg-color;
    background: $second-text-color;
  }

  &:focus {
    fill: $second-hero-bg-color;
    background: $second-text-color;
  }
}

.icon-close {
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.modal {
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: $main-bg-color;
  }

  &__form {
    display: block;
    height: 342px;
    margin-bottom: 20px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  &__textarea {
    resize: none;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 4px;
  }

  &__box.last {
    margin-bottom: 0;
  }

  &__svg {
    margin-left: 12px;
    top: 25%;
    position: absolute;

    width: 18px;
    height: 18px;
    fill: $main-bg-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-field:focus-within & {
      fill: $menu-bg-color;
    }
  }

  &__label {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: $menu-bg-color;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__input {
    height: 40px;
  }

  &__textarea,
  &__input {
    margin: 0;
    padding-top: 11px;
    padding-left: 42px;
    padding-bottom: 11px;

    border: 1px solid $second-text-color;
    border-radius: 4px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-field:focus-within & {
      border: 1px solid $menu-bg-color;
    }
  }
}

.form-field {
  &__input {
    &::placeholder {
      color: $main-text-color;
    }
  }
}

.form-field {
  &__textarea {
    height: 120px;
    padding: 12px 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: $main-text-color;
  }
}

.checkbox {
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__label {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 480px) {
      display: flex;
    }
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1.7px solid $main-bg-color;
    border-radius: 2px;
    background-color: $main-bg-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:checked + &__icon {
    background-image: url('../images/burger.svg');
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: $text-title-color;
    border-color: $socials-bg-color;
  }

  &__text {
    display: flex;
    padding-left: 8.38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 0;

    color: $socials-bg-color;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__link {
    padding-left: 3px;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration-line: underline;

    color: $socials-bg-color;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }
}

.button--send {
  font-family: 'Roboto', ‘Raleway’ sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;

  color: $socials-bg-color;

  background: $socials-bg-color;
  box-shadow: 0px 4px 4px $socials-bg-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  border-radius: 4px;
}
*/
