@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.04em;
  background-color: #ffffff;
  color: #000000;
}

.title {
  font-family: "Titan One", cursive;
}

.section__title {
  color: #d41443;
  line-height: 1.15;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.section__label {
  color: #ffa5ba;
  line-height: 1.17;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .section__label {
    font-size: 58px;
    line-height: 1.13;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 112px;
    width: 1280px;
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

/*Section header*/
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.section-header {
  background-color: #ffb8ca;
  width: 100%;
  padding-top: 37px;
  background-image: url("../images/ellipse.png");
  background-repeat: no-repeat;
  background-position: 65%;
}

.container.header {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 84px;
}
.menu__icon {
  fill: #d41443;
}

.menu-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}
.menu-nav__link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  color: #ffffff;
}
.menu-nav__link--current {
  color: #d41443;
}
.menu-nav__item:not(:last-child) {
  margin-right: 35px;
}
.menu-nav__button {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  padding: 14px 53px 14px 37px;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
}
@media screen and (max-width: 467px) {
  .menu-nav__button {
    margin-top: 60px;
  }
}

.icecream {
  padding-left: 115px;
  margin-bottom: 56px;
}
.icecream__title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}
.icecream__title-passion {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 0.9;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.icecream-box__btn {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  height: 40px;
  border-radius: 20px;
  border: none;
  height: 40px;
}
.icecream-box .products {
  color: #ffffff;
  background: #d41443;
  margin-right: 15px;
}
.icecream-box .products:hover, .icecream-box .products:focus {
  background: #c7133e;
}
.icecream-box .made {
  color: #d41443;
  background: #ffffff;
}
.icecream-box .made:hover, .icecream-box .made:focus {
  background: #ecebeb;
}

.milk {
  padding-bottom: 100px;
}
.milk__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
  width: 200px;
  margin: 0;
  margin-left: 295px;
}

.main-menu {
  position: relative;
}

.position-image__icecream {
  position: absolute;
  top: 6.9%;
  left: 47%;
  width: 230px;
}
@media screen and (min-width: 480px) {
  .position-image__girl {
    position: absolute;
    top: 60.8%;
    left: 70%;
    width: 293px;
  }
}
@media screen and (max-width: 479px) {
  .position-image__girl {
    display: none;
    left: 0;
  }
}
.position-image__sixteen {
  position: absolute;
  top: 20%;
  left: 90%;
  width: 72px;
}
@media screen and (max-width: 479px) {
  .position-image__sixteen {
    display: none;
  }
}
.position-image__twentythree {
  position: absolute;
  top: 35%;
  left: 88%;
  width: 92px;
}
@media screen and (max-width: 479px) {
  .position-image__twentythree {
    display: none;
  }
}
.position-image__milk {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 188px;
}
@media screen and (max-width: 479px) {
  .position-image__milk {
    display: none;
  }
}

/* mobile-menu-container */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #e17992;
  z-index: 999;
  /*transform: translateX(100%);
  transition: transform 250ms $timing-function;*/
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}

.mobile {
  align-items: flex-end;
}

/* button-open */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  color: red;
}

/* menu-container__mobile */
.menu-container__mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav__link {
  padding: 10px;
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8.33vw;
  /*40px*/
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: white;
  text-decoration: none;
  margin-left: 25px;
  padding: 0;
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  text-decoration: underline;
  color: red;
}
.mobile-nav__item:first-child {
  margin-top: 48px;
  margin-bottom: 35.71px;
}
.mobile-nav__item:nth-child(2n) {
  margin-bottom: 32px;
}
.mobile-nav__item:last-child {
  margin-bottom: 302px;
}
.mobile-nav__link--current {
  color: red;
}

.products {
  margin-top: 121px;
  margin-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products {
    margin-top: 122px;
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    margin-top: 127px;
    margin-bottom: 119px;
  }
}

.products__label {
  font-family: "Titan One", cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
@media screen and (min-width: 1280px) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: "Titan One", cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .products__title {
    line-height: 1.125;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 259px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    justify-content: center;
    margin: -10px;
  }
}
@media screen and (min-width: 1260px) {
  .products__list {
    display: flex;
    justify-content: center;
    margin: -15px;
  }
}

.products__item {
  border-radius: 24px;
  text-align: center;
  height: 485px;
}
@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (max-width: 767px) {
  .products__item {
    max-width: 280px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 3 * 20px) / 3);
    margin: 10px;
  }
}
@media screen and (min-width: 1260px) {
  .products__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
    height: 525px;
  }
}

.products__item-icecream {
  background-color: #ffb8ca;
}
.products__item-icecream::before {
  display: inline-block;
  content: "";
  width: 249px;
  height: 252px;
  background-image: url(../images/icecream1.png);
  margin-top: -113px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
          animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}
@-webkit-keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }
  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }
  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}
@media screen and (min-width: 768px) {
  .products__item-icecream::before {
    background-image: url(../images/icecream2.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item-icecream::before {
    background-image: url(../images/icecream3.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
  }
}

.products__item-icecoffee {
  background-color: #f0d1a5;
}
.products__item-icecoffee::before {
  display: inline-block;
  content: "";
  width: 249px;
  height: 252px;
  background-image: url(../images/icecoffee1.png);
  margin-top: -113px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
          animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }
  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}
@media screen and (min-width: 768px) {
  .products__item-icecoffee::before {
    background-image: url(../images/icecoffee2.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item-icecoffee::before {
    background-image: url(../images/icecoffee3.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
  }
}

.products__item-milkshakes {
  background-color: #c2e297;
}
.products__item-milkshakes::before {
  display: inline-block;
  content: "";
  width: 249px;
  height: 252px;
  background-image: url(../images/milkshakes1.png);
  margin-top: -113px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
          animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(60deg);
  }
  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}
@media screen and (min-width: 768px) {
  .products__item-milkshakes::before {
    background-image: url(../images/milkshakes2.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item-milkshakes::before {
    background-image: url(../images/milkshakes3.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
  }
}

.products__name {
  font-family: "Titan One", cursive;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 22px;
}
@media screen and (min-width: 1280px) {
  .products__name {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 38px;
    margin-bottom: 32px;
  }
}

.products__icon {
  width: 26px;
  height: 6px;
}

.products__info {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 30px 39px 30px 41px;
}
@media screen and (min-width: 768px) {
  .products__info {
    margin: 30px 11px 40px 11px;
    height: 124px;
    overflow: hidden;
    line-height: 1.78;
  }
}
@media screen and (min-width: 1280px) {
  .products__info {
    font-size: 16px;
    margin: 32px 44px 62px 44px;
    height: 106px;
    overflow: hidden;
    line-height: 1.75;
  }
}

.button__products {
  background-color: #ffb8ca;
  border: none;
}

.button__products-icecoffee {
  background-color: #f0d1a5;
}

.button__products-milkshakes {
  background-color: #c2e297;
}

.advantages {
  padding-bottom: 97px;
  background-color: #fff5f6;
}
.section__title-advantages {
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
    margin: -30px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__list {
    margin: -15px;
  }
}

.advantages__item {
  width: 100%;
  text-align: left;
  transform: rotate(2160deg) scale(0);
  opacity: 0;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.advantages__item._active {
  transform: rotate(0) scale(1);
  opacity: 1;
}
.advantages__item._active:nth-child(2) {
  transition: all 0.4s ease 0.4s;
}
.advantages__item._active:nth-child(3) {
  transition: all 0.4s ease 0.8s;
}
.advantages__item._active:hover {
  transform: scale(1.2);
  transition: all 0.4s ease 0.2s;
}
.advantages__item._active:hover:nth-child(2) {
  transition: all 0.4s ease 0s;
}
.advantages__item._active:hover:nth-child(3) {
  transition: all 0.4s ease 0s;
}
.advantages__item._active:hover .advantages__title {
  transition: all 0.4s ease 0.4s;
  transform: translate(30%, 0px);
}
@media (max-width: 767px) {
  .advantages__item {
    width: 230px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px*4)/3);
    margin: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__item {
    width: calc((100% -15*4)/3);
    margin: 15px;
  }
}
.advantages__item::before {
  display: block;
  content: "";
  width: 33px;
  height: 50px;
  background-image: url(../images/icon1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item-second::before {
  background-image: url(../images/icon2.png);
  width: 50px;
}
.advantages__item-third::before {
  background-image: url(../images/icon3.png);
  width: 44px;
}

.advantages__title {
  font-family: "Titan One", cursive;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 25px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    margin-top: 36px;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
    text-transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #ffb8ca;
  /* Set a background color */
  color: #c7133e;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 24px;
  /* Increase font size */
  font-weight: 700;
}

#myBtn:hover {
  color: #ffffff;
  background-color: #d41443;
  /* Add a dark-grey background on hover */
}

/* Styles of Swiper */
.swiper {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 620px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper {
    width: 926px;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 3px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 18px 0 0;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  border-radius: 0;
  background-image: url("../images/reviews/home.png");
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Styles of components of slades */
.reviews {
  margin: 0 auto 132px;
}

.slades__field {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff 114px, #fafafa 114px, #fafafa 422px, #ffffff 422px);
}
@media screen and (min-width: 768px) {
  .slades__field {
    margin: 0 auto 35px;
    background-image: linear-gradient(to bottom, #ffffff 104px, #fafafa 104px, #fafafa 268px, #ffffff 268px);
  }
}
@media screen and (min-width: 1280px) {
  .slades__field {
    background-image: linear-gradient(to bottom, #ffffff 100px, #fafafa 100px, #fafafa 238px, #ffffff 238px);
  }
}
.slades__image {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .slades__image {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1280px) {
  .slades__image {
    margin-bottom: 62px;
  }
}
.slades__text {
  position: relative;
  padding: 0px 16px 6px 7px;
  margin: 0 0 72px;
  background-image: repeating-linear-gradient(to bottom, #fafafa, #fafafa 28px, #e1e1e1 28px, #e1e1e1 29px);
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.04em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slades__text {
    padding: 0px 44px 6px 20px;
    margin: 0 0 70px;
    font-size: 14px;
    line-height: 2.16;
  }
}
@media screen and (min-width: 1280px) {
  .slades__text {
    padding: 0px 35px 7px 28px;
    margin: 0 0 66px;
    font-size: 16px;
    line-height: 1.86;
  }
}
.slades__text::before {
  content: "";
  width: 54px;
  height: 40px;
  background-image: url("../images/reviews/quotes.png");
  background-size: contain;
  opacity: 50%;
  position: absolute;
  top: -15px;
  left: 4px;
}
@media screen and (min-width: 768px) {
  .slades__text::before {
    top: -17px;
    left: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .slades__text::before {
    top: -15px;
    left: -3px;
  }
}
.slades__text::after {
  content: "";
  width: 32px;
  height: 4px;
  background-image: url("../images/reviews/group-circle.png");
  background-size: contain;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .slades__text::after {
    bottom: -52px;
  }
}
@media screen and (min-width: 1280px) {
  .slades__text::after {
    bottom: -47px;
  }
}
.slades__author {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .slades__author {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .slades__author {
    font-size: 20px;
  }
}

.gallery {
  background-image: linear-gradient(to bottom, #fff5f6, #ffffff);
  min-width: 280px;
  min-height: 122px;
}

.gallery__items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  row-gap: 3px;
  -moz-column-gap: 3px;
       column-gap: 3px;
}

.galary__item {
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 500ms linear;
  z-index: 1;
}
.galary__item:hover {
  transform: scale(1.25);
  z-index: 2;
}
.galary__item--cell1 {
  grid-column: 1/2;
  grid-row: 5/9;
}
.galary__item--cell2 {
  grid-column: 2/3;
  grid-row: 3/7;
}
.galary__item--cell3 {
  grid-column: 2/3;
  grid-row: 7/11;
}
.galary__item--cell4 {
  grid-column: 3/5;
  grid-row: 1/9;
}
.galary__item--cell5 {
  grid-column: 3/4;
  grid-row: 9/13;
}
.galary__item--cell6 {
  grid-column: 5/6;
  grid-row: 3/7;
}
.galary__item--cell7 {
  grid-column: 5/6;
  grid-row: 7/11;
}
.galary__item--cell8 {
  grid-column: 6/7;
  grid-row: 2/6;
}
.galary__item--cell9 {
  grid-column: 6/7;
  grid-row: 6/10;
}
.galary__item--cell10 {
  grid-column: 7/8;
  grid-row: 4/8;
}

.footer {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer__positioning {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__positioning {
    padding: 0 114px;
    justify-content: space-evenly;
  }
}

.footer__title {
  padding-bottom: 43px;
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: 340px;
    padding-bottom: 91px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    width: 480px;
    padding-bottom: 97px;
    margin-right: 129px;
  }
}

.footer__title--secondary {
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 17px;
  width: 232px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer__title--secondary {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-top: 7px;
    margin-bottom: 16px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title--secondary {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.footer__title--main {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  width: 200px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer__title--main {
    font-size: 48px;
    letter-spacing: 0.06em;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title--main {
    font-size: 58px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .footer__socials {
    margin-left: 129px;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-list__item {
  margin-right: 28px;
  padding-top: 4px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: block;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .social-list__link {
    width: 34px;
    height: 34px;
  }
}

.social-list__link:hover .social-icon,
.social-list__linkk:focus .social-icon {
  fill: #d41443;
  transform: scale(1.1);
}

.social-icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
}
@media screen and (min-width: 768px) {
  .social-icon {
    width: 34px;
    height: 34px;
  }
}

.footer__contacts {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.8;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.02em;
    width: 268px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
  }
}

.footer__contact {
  display: flex;
  justify-content: flex-end;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.9;
  }
}

.footer__contact--tel {
  margin-left: 4px;
  color: #d41443;
}

.copyright {
  display: block;
}

.copyright__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #907e82;
  padding: 22px 91px 25px 79px;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .copyright__text {
    line-height: 1.9;
    letter-spacing: 0.02em;
    padding: 29px 245px 18px 245px;
  }
}
@media screen and (min-width: 1280px) {
  .copyright__text {
    line-height: 1.9;
    letter-spacing: 0.02em;
    padding: 9px 502px 10px 502px;
  }
}/*# sourceMappingURL=main.css.map */