<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <header>
            <section class="section section-header">
                <div class="container">
                    <div class="main-menu">
                        <nav class="menu">
                            <!--Menu Nav-->
                            <ul class="menu-nav">
                                <li class="menu-nav__item"><a class="menu-nav__link menu-nav__link--current" href="index.html"
                                        title="Home">Home</a></li>
                                <li class="menu-nav__item"><a class="menu-nav__link" href="portfolio.html"
                                        title="About us">About us</a></li>
                                <li class="menu-nav__item"><a class="menu-nav__link" href="#" title="How it’s made?">How it’s made?</a></li>
                                <li class="menu-nav__item"><a class="menu-nav__link" href="#" title="Our products">Our products</a></li>
                                <li class="menu-nav__item"><a class="menu-nav__link" href="#" title="Contact">Contact</a></li>
                            </ul>
                            <button class="menu-nav__button" type="button" data-modal-open>Buy now</button>
                        </nav>
                        <div class="icecream">
                            <h1>ice cream made with passion</h1>
                            <button class="icecream__button-products" type="button">Products</button>
                            <button class="icecream__button-made" type="button">How it’s made?</button>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
            </section>  
        </header>      
    </body>
</html>