<section class="products">
    <div class="container">
        <label for="name">100% natural</label>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div>
                    <img srcset="
                            ./images/icecream1.png 1x, 
                            ./images/icecream2.png 2x,
                            ./images/icecream3.png 3x"
                    src="./images/icecream1.png" 
                    alt="Мороженое">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="button" class="products__button"></button>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <img srcset="
                            ./images/icecoffee1.png 1x, 
                            ./images/icecoffee2.png 2x,
                            ./images/icecoffee3.png 3x"
                    src="./images/icecoffee1.png"  
                    alt="Кофе со льдом">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                        dolore magna
                        aliqua facilisis.</p>
                    <button type="button" class="products__button"></button>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <img srcset="
                            ./images/milkshakes1.png 1x, 
                            ./images/milkshakes2.png 2x,
                            ./images/milkshakes3.png 3x"
                    src="./images/milkshakes1.png"  
                    alt="Милкшейк">
                    <h3 class="products__name">milkshakes</h3>
                    <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                        dolore magna
                        aliqua facilisis.</p>
                    <button type="button" class="products__button"></button>
                </div>
            </li>
        </ul>
    </div>
</section>